
<form novalidate class="simple-form">
	<table style="width: 100%">

		<tr>
			<td style="width: 50%">Search</td>
			<td style="width: 50%"><input type='text' ng-model="bsn"
				required />
				<button ng-click="search()" ng-disabled="!canSearch()">Go</button></td>
		</tr>
	</table>
</form>

<button ng-click="prev()" ng-disabled="start==0">Prev {{start}}</button>
<button ng-click="next()" ng-disabled="!programs">Next</button>

<table style="width: 100%">
	<tr ng-repeat="p in programs">
		<td style="width: 50%"><a href="#/program/{{p.bsn}}?">{{p.bsn}}</a></td>
		<td style="width: 50%">{{p.description}}</td>
	</tr>
</table>
