
<form novalidate class="simple-form">
	<table>

		<tr>
			<td class="label">Search</td>
			<td><input type='text' ng-model="query" required />
				<button ng-click="search()" ng-disabled="!canSearch()">Go</button></td>
		</tr>
	</table>
</form>

<div id="prevnext">
	<button class="left" ng-click="prev()" ng-disabled="start==0">Prev
		{{start}}</button>
	<button class="right" ng-click="next()" ng-disabled="!programs">Next</button>
</div>

<table>
	<tr ng-repeat="p in programs">
		<td class="label"><a href="#/p/{{p._id}}?">{{p._id}}</a></td>
		<td>{{p.description}}</td>
	</tr>
</table>
